@import 'https://fonts.googleapis.com/css2?family=Sriracha&display=swap';
@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
body {
    font-family: 'Sriracha', cursive;
}

h5 {
    font-family: 'Prompt', sans-serif;
}

.img_circle {
    width: 300px;
    height: 500px;
}

#img_div {
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    margin: 0px;
}

.text {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: white;
}

.text-me {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: white;
}

.content {
    padding-top: 20px;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fb {
    color: rgb(77, 76, 76);
}

.fb:hover {
    color: blue;
}

.ig {
    filter: grayscale(100%);
}

.ig:hover {
    filter: grayscale(0%);
}

.gh {
    color: rgb(77, 76, 76);
}

.gh:hover {
    color: rgb(23, 23, 39);
}

.gm {
    color: rgb(77, 76, 76);
}

.gm:hover {
    color: rgb(240, 15, 15);
}

.select-in {
    position: fixed;
    right: 5px;
    bottom: 5px;
}