.page_contect{
    .title{
        color: blue;
        display: flex;
        justify-content: center;
    }

}
// .page_contect > .title{
//     color: green;
// }
// .page_contect > .detail{
//     color: red;
// }