.page_home{
   
    .title{
        color: red;
    }
    .carousel{
        display: flex;
        justify-content: center;
    }
    .home1{
        background-color:#99CCFF;
        position: relative;
        margin: 10px;
        .home11{
            display: flex;
            justify-content: right;;
      
        }

    }
}