.page_home{
   
    .title{
        color: red;
    }
    .carousel{
        display: flex;
        justify-content: center;
    }
    .home1{
        display: flex;
        justify-content: center;
        background-color:#D1EEEE;
        .home11{
            width: 100%;        
        }
        .home12{
            width: 100%; 
        }
    
    }
    .home2{
        display: flex;
        justify-content: center;
    }
    .home3{
        display: flex;
        justify-content: center;
        background-color:#D1EEEE;
        .home11{
            .home31{
                width: 100%;
            }
           .home32{
                width: 100%;
            
            }
        }
    }
}