.page_product{
    .photo{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    .photo1{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    
    
}