@import 'home';
@import 'header';
body{
    margin: 0;
}
.page_home{
    .title{
        color: red;
    }
}
.page_about{
    .title{
        color: blue;
    }
}
.page_contect{
    .title{
        color: green;
    }
}
